body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 20px 250px 10px 250px;
    display: flex;
    flex-direction: column;
    width: auto;
}

h1 {
    text-align: center;
}

.nav_items_p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_items_p a {
    margin: 20px 30px 20px 0px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
