body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 20px 150px 10px 150px;
    display: flex;
    flex-direction: column;
    width: auto;
}

h1, h3 {
    text-align: center;
}

.nav_items_p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_items_p a {
    margin: 10px 20px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    body {
        padding: 20px 50px 10px 50px;
    }

    .nav_items_p {
        display: flex;
        overflow-x: auto; /* enable horizontal scrolling */
        overflow-y: hidden; /* disable vertical scrollbar */
        white-space: nowrap; /* prevent items from wrapping */
    }
}
