footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #ffc800;
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: center;
    color: #000;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-text {
    margin: 20px;
}

footer p {
    margin: 0;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    gap: 20px;
}

.socials a {
    color: #000;
    display: flex;
    align-items: center;
}

.socials a img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: auto;
}
